In [ ]:
import os

# Configura HADOOP_HOME y PATH en el entorno del cuaderno
os.environ["HADOOP_HOME"] = "C:\\hadoop"
os.environ["PATH"] += os.pathsep + os.path.join(os.environ["HADOOP_HOME"], "bin")

# Verifica las variables
print("HADOOP_HOME:", os.getenv("HADOOP_HOME"))
print("PATH:", os.getenv("PATH"))

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date
import os


# Inicia la sesión de Spark
spark = SparkSession.builder \
    .appName("IowaLiquorSales") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .config("spark.hadoop.fs.file.impl", "org.apache.hadoop.fs.LocalFileSystem") \
    .config("spark.hadoop.fs.azure.enable.native-hadoop", "false") \
    .config("spark.hadoop.io.native.lib", "false") \
    .getOrCreate()


# Ruta al archivo CSV descargado
csv_path = "./Data/Iowa_Liquor_Sales.csv"

In [ ]:
spark.stop()  # Detiene la sesión de Spark activa

In [4]:
# Leer el archivo CSV con opciones adicionales para evitar la desanidación y manejo de comas
df = spark.read.option("header", "true") \
    .option("inferSchema", "true") \
    .option("quote", "\"") \
    .option("escape", "\"") \
    .option("multiLine", "true") \
    .csv(csv_path)

# Mostrar las primeras filas para ver cómo quedó el dataframe
df.show(5)
df.printSchema()

+-------------------+----------+------------+--------------------+-------------------+------------+--------+--------------------+-------------+-------+--------+-------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|Invoice/Item Number|      Date|Store Number|          Store Name|            Address|        City|Zip Code|      Store Location|County Number| County|Category|Category Name|Vendor Number|         Vendor Name|Item Number|    Item Description|Pack|Bottle Volume (ml)|State Bottle Cost|State Bottle Retail|Bottles Sold|Sale (Dollars)|Volume Sold (Liters)|Volume Sold (Gallons)|
+-------------------+----------+------------+--------------------+-------------------+------------+--------+--------------------+-------------+-------+--------+-------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|       S29198800001|11/20/2015|        2191|      Keokuk Spirits|          1013 MAIN|      KEOKUK|   52632|1013 MAIN\nKEOKUK...|           56|    Lee|    NULL|         NULL|          255| Wilson Daniels Ltd.|        297|Templeton Rye w/F...|   6|               750|           $18.09|             $27.14|           6|       $162.84|                 4.5|                 1.19|
|       S29195400002|11/21/2015|        2205|Ding's Honk And H...|   900 E WASHINGTON|    CLARINDA|   51632|900 E WASHINGTON\...|           73|   Page|    NULL|         NULL|          255| Wilson Daniels Ltd.|        297|Templeton Rye w/F...|   6|               750|           $18.09|             $27.14|          12|       $325.68|                 9.0|                 2.38|
|       S29050300001|11/16/2015|        3549|Quicker Liquor Store|       1414 48TH ST|FORT MADISON|   52627|1414 48TH ST\nFOR...|           56|    Lee|    NULL|         NULL|          130|Disaronno Interna...|        249|Disaronno Amarett...|  20|               150|            $6.40|              $9.60|           2|        $19.20|                 0.3|                 0.08|
|       S28867700001|11/04/2015|        2513|Hy-Vee Food Store...|     812  S 1ST AVE|   IOWA CITY|   52240|812 S 1ST AVE\nIO...|           52|Johnson|    NULL|         NULL|           65|     Jim Beam Brands|        237|Knob Creek w/ Cry...|   3|              1750|           $35.55|             $53.34|           3|       $160.02|                5.25|                 1.39|
|       S29050800001|11/17/2015|        3942|    Twin Town Liquor|104 HIGHWAY 30 WEST|      TOLEDO|   52342|104 HIGHWAY 30 WE...|           86|   Tama|    NULL|         NULL|          130|Disaronno Interna...|        249|Disaronno Amarett...|  20|               150|            $6.40|              $9.60|           2|        $19.20|                 0.3|                 0.08|
+-------------------+----------+------------+--------------------+-------------------+------------+--------+--------------------+-------------+-------+--------+-------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
only showing top 5 rows

root
 |-- Invoice/Item Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Store Number: integer (nullable = true)
 |-- Store Name: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Store Location: string (nullable = true)
 |-- County Number: integer (nullable = true)
 |-- County: string (nullable = true)
 |-- Category: integer (nullable = true)
 |-- Category Name: string (nullable = true)
 |-- Vendor Number: integer (nullable = true)
 |-- Vendor Name: string (nullable = true)
 |-- Item Number: integer (nullable = true)
 |-- Item Description: string (nullable = true)
 |-- Pack: integer (nullable = true)
 |-- Bottle Volume (ml): integer (nullable = true)
 |-- State Bottle Cost: string (nullable = true)
 |-- State Bottle Retail: string (nullable = true)
 |-- Bottles Sold: integer (nullable = true)
 |-- Sale (Dollars): string (nullable = true)
 |-- Volume Sold (Liters): double (nullable = true)
 |-- Volume Sold (Gallons): double (nullable = true)

In [5]:
from pyspark.sql.functions import regexp_replace

# Limpiar la columna 'Store Location' reemplazando las comas por un espacio (o cualquier otro carácter)
df = df.withColumn("Store Location", regexp_replace(df["Store Location"], ",", " "))

# Verificar que la columna 'Store Location' haya sido limpiada correctamente
df.show(5)

+-------------------+----------+------------+--------------------+-------------------+------------+--------+--------------------+-------------+-------+--------+-------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|Invoice/Item Number|      Date|Store Number|          Store Name|            Address|        City|Zip Code|      Store Location|County Number| County|Category|Category Name|Vendor Number|         Vendor Name|Item Number|    Item Description|Pack|Bottle Volume (ml)|State Bottle Cost|State Bottle Retail|Bottles Sold|Sale (Dollars)|Volume Sold (Liters)|Volume Sold (Gallons)|
+-------------------+----------+------------+--------------------+-------------------+------------+--------+--------------------+-------------+-------+--------+-------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|       S29198800001|11/20/2015|        2191|      Keokuk Spirits|          1013 MAIN|      KEOKUK|   52632|1013 MAIN\nKEOKUK...|           56|    Lee|    NULL|         NULL|          255| Wilson Daniels Ltd.|        297|Templeton Rye w/F...|   6|               750|           $18.09|             $27.14|           6|       $162.84|                 4.5|                 1.19|
|       S29195400002|11/21/2015|        2205|Ding's Honk And H...|   900 E WASHINGTON|    CLARINDA|   51632|900 E WASHINGTON\...|           73|   Page|    NULL|         NULL|          255| Wilson Daniels Ltd.|        297|Templeton Rye w/F...|   6|               750|           $18.09|             $27.14|          12|       $325.68|                 9.0|                 2.38|
|       S29050300001|11/16/2015|        3549|Quicker Liquor Store|       1414 48TH ST|FORT MADISON|   52627|1414 48TH ST\nFOR...|           56|    Lee|    NULL|         NULL|          130|Disaronno Interna...|        249|Disaronno Amarett...|  20|               150|            $6.40|              $9.60|           2|        $19.20|                 0.3|                 0.08|
|       S28867700001|11/04/2015|        2513|Hy-Vee Food Store...|     812  S 1ST AVE|   IOWA CITY|   52240|812 S 1ST AVE\nIO...|           52|Johnson|    NULL|         NULL|           65|     Jim Beam Brands|        237|Knob Creek w/ Cry...|   3|              1750|           $35.55|             $53.34|           3|       $160.02|                5.25|                 1.39|
|       S29050800001|11/17/2015|        3942|    Twin Town Liquor|104 HIGHWAY 30 WEST|      TOLEDO|   52342|104 HIGHWAY 30 WE...|           86|   Tama|    NULL|         NULL|          130|Disaronno Interna...|        249|Disaronno Amarett...|  20|               150|            $6.40|              $9.60|           2|        $19.20|                 0.3|                 0.08|
+-------------------+----------+------------+--------------------+-------------------+------------+--------+--------------------+-------------+-------+--------+-------------+-------------+--------------------+-----------+--------------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
only showing top 5 rows

In [ ]:
# Ruta de salida simplificada
output_folder = "./Data/csv"
# os.makedirs(output_folder, exist_ok=True)

# Arreglar la columna de ubicación de la tienda (según lo que mencionaste)
df = df.withColumn("sale_date", to_date(df["Date"], "MM/dd/yyyy"))

# Filtrar los registros con fechas nulas
df = df.filter(df["sale_date"].isNotNull())

# Obtiene las fechas únicas en el dataset
unique_dates = [row["sale_date"] for row in df.select("sale_date").distinct().collect()]

# Itera por cada fecha y guarda los registros correspondientes en un archivo CSV usando Pandas
for date in unique_dates:
    date_str = date.strftime("%Y-%m-%d")  # Convierte la fecha a string con el formato solicitado
    output_file = os.path.join(output_folder, f"proyecto_{date_str}.csv")  # Ruta para el archivo CSV

    # Filtra los registros para la fecha actual
    daily_df = df.filter(df["sale_date"] == date)

    # Convertir el DataFrame de Spark a Pandas
    pandas_df = daily_df.toPandas()

    # Escribe el archivo CSV usando Pandas
    pandas_df.to_csv(output_file, index=False)
    print(f"Archivo generado: {output_file}")

print(f"Proceso completado. Archivos generados en {output_folder}")